# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
venv/
.env/
.envrc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code config
.vscode/

# Ignore PyCharm config
.idea/

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore test coverage reports
htmlcov/
.coverage
coverage.xml
.cache

# Ignore build/output directories
build/
dist/
*.egg-info/

# Ignore all .pkl files (models, preprocessors, etc.)
*.pkl


## Terraform local files
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log

# Terraform variable value files
*.tfvars
*.tfvars.json

# Terraform backend config
backend-config/*.tfbackend

# Terraform backend config with real storage account details
terraform/backend-config/*.tfbackend

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
